%table.table.table-hover
  %thead
    %tr
      %th
      %th 名前
      %th LV
      %th 入学日
      %th 経過日数
      %th PR(合計)
      %th PR(マージ)
      %th フル/パート
      %th 最終面談日
      %th 最終投稿
  %tbody
    - @users.each do |user|
      %tr.js-posts-link{ data: { url: user_posts_path(user) } }
        %td
        %td
          = '(未読)' if user.posts.unread_by(current_user).size > 0
          = user.name
        %td= user.level
        %td= user.created_at
        %td= ((Time.current - user.created_at) / (60 * 60 * 24)).to_i
        %td= user.octokit_client.search_issues("is:pr author:#{user.github_login} user:SonicGarden", {per_page: 1}).total_count
        %td= user.octokit_client.search_issues("is:merged is:pr author:#{user.github_login} user:SonicGarden", {per_page: 1}).total_count
        %td= user.working_form
        %td= user.last_talk
        %td= user.posts.last.presence.created_at
